APP_TIMEZONE="UTC"

ICLOUDPD_USERNAME=
ICLOUDPD_PASSWORD=

ALLOW_DESTRUCTIVE_ACTIONS=false

CACHE_ENABLED=true
CACHE_LENGTH="1 day"

MULTI_USER=false
USER_COOKIES=false
ALIAS_USERS=true
USER_INFO="user.json"
DEFAULT_USER=